<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:textColor="@color/navyBlue"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TermTracker"
        tools:targetApi="31">
        <activity
            android:name=".UI.TermDetails"
            android:label="Term Details"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.TermList"
            android:exported="false" />
        <activity
            android:name=".UI.CourseDetails"
            android:label="Course Details"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.TermDetails"
            android:exported="false" />
        <activity
            android:name=".UI.AssessmentDetails"
            android:label="Assessment Details"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.CourseDetails"
            android:exported="false" />
        <activity
            android:name=".UI.AssessmentList"
            android:label="List of Assessments"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.CourseList"
            android:label="List of Courses"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.TermList"
            android:label="List of Terms"
            android:textColor="@color/navyBlue"
            android:parentActivityName=".UI.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:label="Term Tracker - Main Menu"
            android:textColor="@color/navyBlue"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>